.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    z-index: 9999;
  }
  
  .sidebar {
    width: 190px;
    height: 100%;
    background-color: #2b2d2e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .home-container.collapsed .sidebar {
    width: 40px;
    padding: 10px;
  }

  .content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }
  
  .easy-travel {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4188d4;
    transition: font-size 0.3s;
    cursor: pointer;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 1.2rem;
    color: #adb5bd;
    transition: background 0.3s, color 0.3s, padding 0.3s;
    cursor: pointer;
  }
  
  .nav-item:hover {
    background: #495057;
    color: #fff;
  }
  
  .nav-icon {
    margin-right: 10px;
  }

  .nav-item.selected {
    background-color: #92979c; 
    color: #ffffff;
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
  }
  
  .home-container.collapsed .nav-item {
    justify-content: center;
    width: 50px;
  }
  
  .home-container.collapsed .nav-icon {
    margin-right: 0;
  }
  
  .home-container.collapsed .nav-item > *:not(.nav-icon) {
    display: none;
  }

  