.travel-plan-container {
    min-height: 100vh; 
    padding: 24px;
    width: 100%;
  }

.create-plan-container {
  width: 100%;
  height: 70px;
}
  
  .create-plan-button {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  
  .plan-list {
    margin-bottom: 24px;
  }

  .plan-detail-container {
    
  }
  
  .no-plan-message {
    margin-top: 24px;
  }